/* pre-buit */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* by developer */

body{
  background-color: rgb(255, 245, 216);
  font-family: 'NHaasGroteskDSPro' ;
  
}

.heading{
  font-family:Impact ,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red !important;
  outline-color: yellow;
  outline-width: 6px !important;
  font-weight: lighter;
}
.nav_tabs{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  margin: 0 3%;
}

#carouselExampleFade{
  margin-bottom: 10px;
  /* visibility: hidden; */
  object-fit: contain !important;
  object-position: top;
}

#carousel{
  max-height: 10vh;

}

/* ===== just for setup ======= */
.cardimgdev{
  /* height: 21vh;
  width: auto;
  object-fit : fill;
  object-position: center; */
}
.cardmaindev{
  /* border: 1px solid red; */
  /* margin: 7px 1px; */
  /* height: fit-content; */
  /* z-index: 100; */
}
*{
  /* border: 2px dashed green !important; */
}